ed-page{
    display:grid;
    grid-template-columns:repeat(2,1fr);   
    grid-auto-rows:minmax(150px,auto);
    max-width: 100%;
    grid-column-gap:5px;
}
.ed-page-left{
    grid-column:1/2;  
    max-width: 100%;
    background-color: white;
 
}
.ed-page-right{
    grid-column:2/3;
     max-width: 100%;
}

#ed-container{
    display:grid;
    grid-template-columns: repeat(8,1fr);
    grid-auto-rows:minmax(50px,auto);
    grid-gap:1px;

    margin: 0 auto;    
}
.left{
    grid-column:1/9;

}
.right{
    grid-column:7/9;
    height:50px;   
    width:100%;

}
.text1{
    grid-column:1/2;
    cursor: pointer;    
     margin-left: 10px;
}
.text2{
    grid-column:2/3;    
     margin-left: 10px;
}
.text3{
    grid-column:3/4; 
     margin-left: 10px;
}
.text4{
    grid-column:4/5;   
     margin-left: 10px;
}
.text5{
    grid-column:3/5; 
     margin-left: 10px;

}
.text6{
    grid-column:1/8;
    margin-left: 10px;
    /*background-color: palevioletred;*/
}
#ed-review{
    display:grid;
    grid-template-columns: repeat(8,1fr);
    grid-auto-rows:minmax(25px,auto);
    grid-gap:1px;   
    /*background-color:#f9f2f4;*/
    border-color: silver;
    border-width:thin;
    border-style:  solid;
    margin:0 auto;
    

}
#ed-review:hover{
    border-width:medium;
    border-color: silver;


}
.ed1{
    /*degree*/
    grid-column:1/7; 
}
.ed2{
    /*year*/
    grid-column:7/9;
}
.ed3{
    /*school*/
    grid-column:1/7;
    grid-row:2/3;
}
.ed4{ 
    /*state*/
    grid-column:7/9;
}
.ed5{ 
    /*edit*/
    grid-column:9/9;
}
input [type=number]{
    max-width: 25px;
}
select{
    max-width: 90%;
}
#form{
    background-color:white;
}