@import url('https://fonts.googleapis.com/css?family=Lato');
#button-grid{
    display: grid; 
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows:minmax(40px,auto); 
    max-width: 90%;
    margin: 0 auto;
    /*grid-column-gap:10px;*/
    grid-row-gap:10px;
    background:transparent;    
    text-align:  center;
}
.btn-right{
    grid-column:1/2;
    grid-row:4/5;
    margin-top:10px;
    margin-left:auto;
    margin-bottom: 10px;
    margin-right: auto;

}
.btn-left{
    grid-column:2/3;
    grid-row:4/5;
    margin-top:10px;
    margin-left:auto;
    margin-bottom: 10px;
    margin-right: auto;
}

button{
    /*height: 75px;*/
    /*width:200px;*/
    /*border-radius: 40px;*/
    /*    background: rgb(23,141,164);
        background: linear-gradient(90deg, rgba(23,141,164,0.5133403703278187) 0%, rgba(21,92,106,0.6533963927367823) 83%);*/
    background-color:transparent;
    border:.5px ridge silver;
    align-items: flex-end;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    color:#fff;
    letter-spacing: 1.5px;
}
/*button:hover{
    background: rgb(23,141,164);
    background: linear-gradient(180deg, rgba(23,141,164,0.7133403703278187) 0%, rgba(21,92,106,0.7533963927367823) 83%);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border:1.5px ridge silver;
}*/
input[type=button],input[type=submit]{
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 10px;
    background: rgb(23,141,164);
    background: linear-gradient(90deg, rgba(23,141,164,0.5133403703278187) 0%, rgba(21,92,106,0.6533963927367823) 83%);
    border:.5px ridge silver;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    color:#fff;
    letter-spacing: 1.5px;
    width:130px;

}
input[type=button]:hover,input[type=submit]:hover{
    /*background-color: transparent;*/
}
input[type=file]{
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
    background: rgb(23,141,164);
    background: linear-gradient(90deg, rgba(23,141,164,0.5133403703278187) 0%, rgba(21,92,106,0.6533963927367823) 83%);
    border:.5px ridge silver;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    color:#fff;
    letter-spacing: 1.5px;
    width:250px;
}
