#playlist {           
    width:100%;
}
#playlist li{
    cursor:pointer;
    padding:5px; 

}

#playlist li:hover{
    color:goldenrod;                        
}
#videoarea {
    max-width:600px;
    height:auto;   
    margin:0 auto;
    border:1px solid silver;
}

.center {
  text-align: center;
}

.pagination {
  display: inline-block;
  margin: 0;
}

.pagination a {
  color: black;
  padding:0;
  transition: background-color .3s;
  }

.pagination a.active {
  background-color: #4CAF50;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}