@import url('https://fonts.googleapis.com/css?family=Lato');
body,html{
    height:100%;
    margin:0;
    padding:0;
    top:0;
    left:0;
    /*background-color: #000000;*/
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Lato', sans-serif;

}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
img{
    position: fixed;
    top:0;
    left:0;
}
.img2{
    position: relative;
    padding:0;
    margin:0;
    width: 100%;
    /*transform: scale(0.5, 0.5);*/
    /*transform:rotate(10deg);*/
    border:none;
    float:left;

}
.cd-section {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 140vh;
    transition: ease-in-out;   
    padding-top: 50px;
    /*opacity: .3;*/

}
#section-grid{
    display: grid; 
    grid-template-columns: repeat(5,1fr);
    grid-auto-rows:minmax(10px,auto); 
    max-width: 90%;
    min-height:700px;
    padding:5px;
    margin: 0 auto;
    grid-column-gap:10px;
    grid-row-gap:2px;
    color:black;
    /*border:1px solid black;*/
}

.column1{
    grid-column:1/4;
    grid-row:1/4;
}
.column2{
    grid-column:2/3;
}
.column3{
    grid-column:4/6;
    align-self: flex-end;
    z-index: -1;
}
.column4{
    grid-column:1/5;
}
.column5{
    grid-column:4/6;  
     
}
#section-grid-2{
    display: grid; 
    grid-template-columns: repeat(5,1fr);
    /*grid-auto-rows:minmax(1px,auto);*/ 
    max-width: 90%;
    min-height:400px;
    padding:5px;
    margin: 0 auto;
    grid-column-gap:10px;
    grid-row-gap:2px;
    color:black;

}
#section-grid-2 > .col-main{
    grid-column:2/5;
    grid-row:2/3;
    
}
#section-grid-2 > .heading{
    grid-column:1/2;
    
}
.cd-section-border {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background: 
        linear-gradient(
        to bottom, rgba(0, 89, 106,0.4) 83%, rgba(0, 89, 106,0.4) 0%
        ),
        url(../image/puzzle-banner.png);  
    background-size: contain;
    min-height: .5vh;
}
.cd-section--bg-fixed {
    min-height: 140vh;
    background-attachment: fixed;
}

/* backgrounds */
.cd-section:nth-child(1) {
    background-image: linear-gradient(rgba(0, 89, 106,0.2), rgba(0, 89, 106,0.3)), url("../image/redPuzzle.png");
}

.cd-section:nth-child(2) {
    background-image: linear-gradient(rgba(0, 89, 106,0.4), rgba(0, 89, 106,0.4)),url("../image/puzzle-banner.png");
}
.cd-section:nth-child(3) {
    background-image: linear-gradient(rgba(0, 89, 106,0.2), rgba(0, 89, 106,0.3)),  url("../image/puzzle-back3.jpg");
}
.cd-section:nth-child(4) {
    background-image: linear-gradient(rgba(0, 89, 106,0.2), rgba(0, 89, 106,0.3)),url("../image/whitepuzzle.jpg");
}
/*.cd-section:nth-child(5) {

    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:3px;
    border:1px solid black;
    width:100%;
    grid-auto-rows:minmax(5px,auto); 

    background-image: url("../image/puzzle-back2.jpg");
    background-image: linear-gradient(rgba(0, 89, 106,0.2), rgba(0, 89, 106,0.3)), url("../image/redPuzzle.png");
    background-image: linear-gradient(rgba(0, 89, 106,0.2), rgba(0, 89, 106,0.3)),  url("../image/puzzle-back2.jpg");
    transform: scale(0.5, 0.5);
}*/
.cd-section:nth-child(7) {
    background-image: linear-gradient(rgba(0, 89, 106,0.2), rgba(0, 89, 106,0.3)), url("../image/redPuzzle.png");
}


.text-area{
    position: relative;
    /*background-color: rgba(186, 131, 11, 0.09);*/
    background: transparent;
    width:90%;
    /*min-height: 110vh;*/
    margin-top:20vh;
    margin-left: auto;
    margin-right:auto;   
    color:white;
    line-height: 42px;
}
.text-area-2{
    position: relative;
    grid-column:1/4;
    /*background-color: rgba(186, 131, 11, 0.09);*/
    background: transparent;
    width:100%;
    /*min-height: 110vh;*/
/*    margin-top:20vh;
    margin-left: auto;
    margin-right:auto;   */
    color:white;
    line-height: 42px;
}
.text-area-dark{
    position:absolute;
    width:60%;
    min-height: 50vh;
    margin-top:20vh;
    margin-left: auto;
    margin-right:auto;   
    color:black;

}
.text-area-dark1{
    position:absolute;
    float:left;
    width:90%;
    min-height: 110vh;
    margin-left: auto;
    margin-right:auto;   
    color:black;
}

p{  
    letter-spacing: 1px;
    font-size: 24px;
    transition-delay: .2s;
    cursor: default;
    line-height: 42px;
}
p > a {
    color:white;
}
a:hover{
    color:rgba(0, 89, 106,0.7);
}
footer{
    min-height: 90px;
    width: 100%;
    background-image: linear-gradient(rgba(0, 89, 106,0.7), rgba(0, 89, 106,0.6)),url("../image/puzzle-banner.png");
    background-size: contain;
    /*z-index: 89;*/
}
/*menu for landing*/
nav{
    position: fixed;
    top:0;
    background-image: linear-gradient(rgba(0, 89, 106,0.7), rgba(0, 89, 106,0.6)),url("../image/puzzle-banner.png");
    background-size: contain;
    width: 100%;
    height: 50px;
    padding:0;
    z-index: 99999;
}
.menu {
    position: relative;
    text-transform: uppercase;
    /*color: rgba(255, 255, 255, 0.8);*/
    color:black;
    display: inline-block;
    cursor: pointer;
    pointer-events: none;
    /*position: fixed;*/
    top: 20px;
    left: 50px;
    letter-spacing: 1.5px;
}
.menu:hover {
    pointer-events: all;
}
.label {
    display: inline-block;
    cursor: pointer;
    pointer-events: all;
}
.spacer {
    display: inline-block;
    width: 100px;
    margin-left: 15px;
    margin-right: 15px;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
}
.spacer:before {
    content: "";
    position: absolute;
    border-bottom: 1px solid #269abc;
    height: 1px;
    width: 0%;
    transition: width 0.25s ease;
    transition-delay: 0.7s;
}
.item {
    position: relative;
    display: inline-block;
    margin-right: 30px;
    top: 10px;
    opacity: 0;
    transition: opacity 0.5s ease, top 0.5s ease;
    transition-delay: 0.5s;
     /*transition-duration: 10s;*/

}
span {
    transition: color 0.5s ease;
}
.item:hover span {
    color:  #269abc;
}
.menu:hover .spacer:before {
    width: 100%;
    transition-delay: 0s;
     /*transition-duration: 10s;*/
}
.menu:hover .item {
    opacity: 1;
    top: 0px;
}
.item:nth-child(1) {
    transition-delay: 0.45s;
}
.item:nth-child(2) {
    transition-delay: 0.4s;
}
.item:nth-child(3) {
    transition-delay: 0.35s;
}
.item:nth-child(4) {
    transition-delay: 0.3s;
}
.item:nth-child(5) {
    transition-delay: 0.25s;
}
.item:nth-child(6) {
    transition-delay: 0.2s;
}
.item:nth-child(7) {
    transition-delay: 0.15s;
}
.item:nth-child(8) {
    transition-delay: 0.1s;
}
.item:nth-child(9) {
    transition-delay: 0.05s;
}
.item:nth-child(10) {
    transition-delay: 0s;
}
.menu:hover .item:nth-child(1) {
    transition-delay: 0.25s;
}
.menu:hover .item:nth-child(2) {
    transition-delay: 0.3s;
}
.menu:hover .item:nth-child(3) {
    transition-delay: 0.35s;
}
.menu:hover .item:nth-child(4) {
    transition-delay: 0.4s;
}
.menu:hover .item:nth-child(5) {
    transition-delay: 0.45s;
}
.menu:hover .item:nth-child(6) {
    transition-delay: 0.5s;
}
.menu:hover .item:nth-child(7) {
    transition-delay: 0.55s;
}
.menu:hover .item:nth-child(8) {
    transition-delay: 0.6s;
}
.menu:hover .item:nth-child(9) {
    transition-delay: 0.65s;
}
.menu:hover .item:nth-child(10) {
    transition-delay: 0.7s;
}

ul{
    /*float:right;*/
    letter-spacing: 1px;
    font-size: 24px;
    cursor: default;
    line-height: 42px;
    margin-left: 100px;
    /*margin-right:1;*/
    margin-top:20px;
}