/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 7, 2019, 7:47:53 PM
    Author     : ray_g
*/

#container{
    display:grid;
    grid-template-columns: repeat(12,1fr);
    grid-auto-rows:minmax(50px,auto);
    grid-column-gap:1px;
    grid-row-gap:20px;
    max-width: 960px;   
    margin:0 auto;
    position:relative;
  
}

#container div{
    /*background:cadetblue;*/
 
    
}
#container div:nth-child(even){
    /*background:cadetblue;*/

}
.left-text{
    grid-column:1/5;
}

.middle-text{
    grid-column:5/9;
    
}
.right-text{
   grid-column:9/13;
   }
 


