/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 6, 2019, 10:50:57 AM
    Author     : ray_g
*/

body html{


}
#content{
    display: grid; 
    grid-template-columns: repeat(18,1fr);
    max-width: 100%;
    min-height: 850px;
    margin: 0 auto;

}

.login-container{
    grid-column:5/10;
}
header{
    grid-column:1/19;
    display: grid; 
    grid-template-columns: repeat(18,1fr);
    color:#03212B;
}

#content >#banner{
    grid-column:1/19;
    background: 
        linear-gradient(
        to bottom, rgba(0, 89, 106,0.7) 83%, rgba(0, 89, 106,0.7) 0%
        ),
        url(../image/puzzle-banner.png);  
    background-size: contain;
    margin:0 0 0 0;
    z-index:3;
    border-top-left-radius:  4px;
    border-top-right-radius:  4px;
    max-height:120px;
}

header>.title{
    grid-column:2/7;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    padding-top:10px;
}
h1 title{    
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.logo{
    grid-column:1/2;
}

main{    
    padding-left: 15px;
    margin-top: 10px;
    grid-column:4/18;
}

section{
    padding-left: 15px;
    margin-top: 10px;
    grid-column:4/12;

}
aside{
    padding-left: 15px;
    margin-top: 10px;
    grid-column:12/18;

}

sidenav{
    grid-column:1/4;
    grid-row:2/15;
    font-family: 'Vollkorn', serif;
    font-size: smaller;
    letter-spacing: 1.5px;
    margin-top: 3px; 
}
sidenav-vid{
    grid-column:1/3;
    grid-row:10/15;
    font-family: 'Vollkorn', serif;
    font-size: smaller;
    letter-spacing: 1.5px;
    margin-top: 3px;
}
footer{
    position:relative;
    position:absolute;
    height:30px;
    background:  url(../image/puzzle-banner.png);
    background-size: contain;
    width:100%;

}
.overlay2{
    background:  linear-gradient(
        to bottom, rgba(0, 89, 106,0.7) 83%, rgba(0, 89, 106,0.7) 0%
        );

    height:20px;
}

footer>img{
    height:40px;
    width:auto;
}
button-area{
    grid-column:18/20;
    grid-row:4/5;
    /*margin-top: 30px;*/
}
nav{
    grid-column:1/19;
    /*    background: 
            linear-gradient(
            90deg, rgba(103,190,207,0.25703903924851186) 0%, rgba(103,190,207,0.2530054258031338) 5%
            ),
            url(../image/puzzle-banner.png);  */
    /*background-size: contain;*/   
    z-index:2;
    font-family: 'Vollkorn', serif;  
    border:none;
    align-self:baseline;
    color:#03212B;

}
.nav-right{

    float:right;


}

main-vid{
    padding-left: 5px;
    grid-column:2/13;
    grid-row:3/7; 
}
page{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap:20px;
    /*grid-auto-columns:auto;*/
}
page > *{
    padding:0;
    margin: 0;
    text-align: left;
}
page-left{
    grid-column:1/2;
    border-radius: 4px;
    background: transparent;

}
.page-left{
    grid-column:1/2;
    border-radius: 4px;
    background: transparent;

}
page-right{
    grid-column:2/3;
    background-color:white;

}
.page-right{
    grid-column:2/3;
    background-color:white;
    height:auto;

}
.page-middle{
    grid-column:1/3;
    border-width: .75px;
    border-color: rgba(192,192,192, 0.8);
    border-style: ridge;
    border-radius: 4px;
    margin-left: auto;
    margin-right:auto;
    width:50%;
    background-color:white;
}
.form-head-area{
    grid-column:1/2;
    grid-row:1/2;      
    background:
        linear-gradient(
        90deg,  rgba(209, 147, 13,.4) 1%,   rgba(209, 147, 13,.5)2%
        ),
        url(../image/puzzle-back3.jpg);
    background-size: cover;
    min-height:30px;
    border-top-left-radius:  4px;
    border-top-right-radius:  4px;
    border-bottom: 0px;
    padding:0;
    color:#03212B;
    /*color:whitesmoke;*/
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 1.6px;
    font-weight: 700;
    text-align: center;


}
.form-head-area2{
    grid-column:1/13;
    grid-row:1/2;      
    background:
        linear-gradient(
        90deg,  rgba(209, 147, 13,.4) 1%,   rgba(209, 147, 13,.5)2%
        ),
        url(../image/puzzle-back3.jpg);
    background-size: cover;
    min-height:30px;
    border-radius: 4px;
    border-bottom: 0px;
    color:#03212B;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 1.5px;
    font-weight: 700;

}
.form-bottom-area{
    grid-column:1/2;
    /*grid-row:12/13;*/    
    background:
        linear-gradient(
        90deg,  rgba(209, 147, 13,.4) 1%,   rgba(209, 147, 13,.5)2%
        ),
        url(../image/puzzle-back3.jpg);
    background-size: cover;
    transform: rotate(180deg);
    min-height:30px;
    border-radius: 4px;
}
.form-bottom-area2{
    grid-column:2/3;
    grid-row:12/13;    
    background:
        linear-gradient(
        90deg,  rgba(209, 147, 13,.4) 1%,   rgba(209, 147, 13,.5)2%
        ),
        url(../image/puzzle-back3.jpg);
    background-size: cover;
    max-height:30px;
    border-radius: 4px;
}

.list-group-mine .list-group-item {
    background: 
        linear-gradient(
        to bottom, rgba(0, 89, 106,0.7) 83%, rgba(0, 89, 106,0.7) 0%
        ),
        url(../image/puzzle-banner.png);  
    background-size: contain;   
    margin:0 0 0 0;
    color:#03212B;
    letter-spacing: 1.5px;

}

.list-group-mine .list-group-item:hover {
    background:
        linear-gradient(
        to bottom, rgba(0, 89, 106,0.6) 83%, rgba(0, 89, 106,0.6) 0%
        ),
        url(../image/puzzle-banner.png);
    background-size: cover;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(0, 89, 106);
    color:#03212B;
}
.list-group-mine .list-group-item.active{
    background: url(../image/puzzle-banner.png);
    background-size: cover;
    border: .5px solid silver;

}
.list-group-mine .list-group-item.select-items{
    /*background-color:#fff6eb;*/
    background-image: none;

}
