.card {
  position:fixed;
  top:0px;
  right:0px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 4px 4px 4px 4px;
 }

.card:hover {
 border-width: .5px;
    border-style: solid;
    border-color:seashell;
    box-shadow: 5px 5px 5px 5px rgba(216,216,216,0.46);
}

.card-container {
 padding: 2px 2px; 
}
i:hover{
    color: rgba(0, 89, 106,0.7);
}

#image{   
    /*max-width: 55%;*/
    height:95%;
    margin:0 auto;
    /*margin-top: 1px;*/
}
.image-box{
    margin:0 auto;
    padding:0;
    border:1px black solid;
    max-height: 250px;
    max-width: 50%
}
#user-card{    
    /*min-height: 500px;*/
    border-color: silver;
    border-width: 1px;
    border-style: solid;
    margin-left: 10px;
    color:#412525;
    font-size: 16px;
}
.user-info{
    display:block;
    border-color: silver;
    border-width: .5px;
    border-style: solid;
    background-color: white;
    width: 100%;
    /*height: auto;*/
    margin-top: 10px;
    text-align: center;
    padding-top:10px;
}
/*.user-info:hover{ 
    border-width: .5px;
    border-style: solid;
    border-color:seashell;
    box-shadow: 1px 1px 3px 5px rgba(216,216,216,0.46);
    margin-top:65px;
}*/
/*#user-card:hover{
    border-width: .5px;
    border-style: solid;
    border-color:seashell;
    box-shadow: 5px 5px 5px 5px rgba(216,216,216,0.46);
}*/
.img-edit{
    position: relative;
    display:inline;
    float:right;
    bottom:35px;  
    right: -10px; 
    padding-bottom:0px;
    clear:both;   
}
.crop {
 height: 300px;
 width: 400px;
 overflow: hidden;
 border:5px black solid;
}
.crop img {
 height: auto;
 width: 400px;
}
#profile-card{
    display: grid;
    grid-template-columns: repeat(12 , 1fr);
    grid-template-rows:minmax(max-content, 100px);
    margin:0 auto;
    padding:0;
    width: 100%;
    /*overflow: hidden;*/ 
    
}
#image-container{
    grid-column:1/13;
      margin:0 auto;
      z-index: 9;
  width:100%;
   border:1px silver solid;
     /*background-color:rgba(0, 89, 106,0.08);*/
  
     
}
.image-area{
    /*float:right;*/
    grid-column: 2/10;
    width:250px;
    margin:0 auto;
    padding:5px;
    
}
img{

background-size: cover;
width:100%;
height:auto;
    
}
.profile-info{
    grid-column:1/9;
    height:100%;
    text-align: center;
    padding-left:10px;
}
.profile-img{
    grid-column:9/13;
    background: linear-gradient(180deg, rgba(23,141,164,0.5133403703278187) 0%, rgba(21,92,106,0.6533963927367823) 89%);
    border:1px silver solid;
      transform: rotate(180deg);

}
.info{
     grid-column:1/13;
     border:1px silver solid;

}
.edit-img{
  grid-column:9/10;
  float:right;
  
  }
 