#bararea{
    width:100%;
    height:5px;
    background-color:transparent;


}

#bar{
    width:0;
    margin:0;
    height:5px;
    background-color:gold;
    border-width: .5px;
    border-color:#286090;
    border-style: solid;
    border-radius: 5px;
    z-index: 99;
}

#status{
    color:black;
}