#question-content{
    display:grid;
    grid-template-columns:repeat(6, 1fr);
    color:black;
    padding:0;
    margin:0;
}
.question-col{
    grid-column:1/4;
}
.file-col{
    grid-column:4/5;

}
.question-button-col{
    grid-column:6/7;
}
#pagination{
    grid-column:1/7;
    background:
        linear-gradient(
        90deg,  rgba(209, 147, 13,.4) 1%,   rgba(209, 147, 13,.5)2%
        ),
        url(../image/puzzle-back3.jpg);
    background-size: cover;
    min-height:30px;
    /*background-color:red;*/
    text-align: center;
    font-size: large;
    letter-spacing: 10px;        
}
.input-container {
    margin: 3em auto;
    max-width: 300px;
    background-color: #EDEDED;
    border: 1px solid #DFDFDF;
    border-radius: 5px;
}

.center{
    text-align: center;
}