/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 7, 2019, 7:47:53 PM
    Author     : ray_g
*/
@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400i|Neucha|Roboto|Suravaram|Vollkorn:400i|Zilla+Slab:500&display=swap');
body, html{
    letter-spacing: .75px;
    /*font-family: 'Vollkorn', serif;*/
    /*font-family: 'Crimson Text', serif;*/
    /*    font-family: 'Zilla Slab', serif;
        font-family: 'Vollkorn', serif;*/
    /*font-family: 'Neucha', cursive;*/
    /*font-family: 'Suravaram', serif;*/
}
#form-container{
    display:grid;
    grid-template-columns: repeat(12,1fr);
    grid-column-gap:3px;
    grid-row-gap:10px;
    max-width: 960px;
    /*height: 420px;*/
    margin:0;
    border-right: .75px;
    border-left:.75px;
    border-top:0px;
    border-color:silver;
    border-style: ridge;
    padding-left:20px;
    /*padding-top:10px;*/
    border-top-left-radius:  4px;
    border-top-right-radius:  4px;
    background-color: white;
    padding-bottom:20px;
}


.left-text{
    grid-column:1/7;
}
.right-text{
    grid-column:10/13;
}
.middle-text{
    grid-column:7/13;
}

.date-text-left{
    grid-column:1/5;
}
.right-text{
    grid-column:7/13;
}
left-sm-text{
    grid-column:1/4;
}
.left-lg-text{
    grid-column:1/10;
}
.left-xlg-text{
    grid-column:1/13;
}
right-sm-text{
    grid-column:6/10;
}

.text-area{
    grid-column: 2/12;
}
textArea{
    min-width:99%;
    height:100px;
}

.radio-area{
    grid-column:1/8;  
}
.nested{
    display:grid;      
    grid-template-columns: 1fr 1fr;
    grid-gap:2px;  
}


.group label{     
    border:1px solid #fff;       
}
input[type=date]{
    height:25px;
}
input[type=checkbox], input[type=radio] {
    vertical-align: middle;
    position: relative;
    bottom: 1px;
    padding:0;
      height:25px;
}
input[type=text],[type=email],[type=phone],[type=password]{
    /*margin-bottom: 6px;*/
    width: 98%;
  height:25px;
    font-family: 'Roboto', sans-serif;
}
input[type=number]{
    width:50px;
    height:25px;
    /*float:right;*/
}

select{
    /*width:70%;*/
    height:25px;

}
label{
    margin: 0;
    padding-top: 5px;
    padding-left:0;
}
img{
    width:100%;
    height:75%;
    border-radius: 5px;
}
.logo{
    width:100%;
    height:auto;
    margin: 0 0 0 0;
    z-index: 0;

}

.clear-padding{
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left:0px;
    margin:0 0 0 0;
}
a{
    font-family: 'Quicksand', sans-serif;
    color:#03212B;
    margin:10px;
    letter-spacing: 1.5px;
    font-weight: bolder;
}
a:hover{
    color:goldenrod;
}

.divider-image{
    height:10%;
    width:10%;
    z-index: 4;
}
#reg-login-form{
    display:grid;
    grid-template-columns: repeat(5,1fr);
    background-color: white;

}
.reg-login-text{
    grid-column:1/6;
    margin-left: 25px;
}
#registration{
    grid-column:2/3;
    /*grid-row:7/8;*/
}
#login{
    grid-column:4/5;
    /*grid-row:7/8;*/
}
#contact-form{
    display:grid;
    grid-template-column:repeat(3,1fr);
    /*grid-auto-rows: 20vmax;*/
    height: 350px;

}
.contact-info{
    grid-column:1/3;
    margin-left:10px;
    margin-top:10px;

}