/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 7, 2019, 7:47:53 PM
    Author     : ray_g
*/

#container{
    display:grid;
    grid-template-columns: repeat(6,1fr);
    /*grid-auto-rows:minmax(25px,auto);*/
    grid-column-gap:1px;
    /*grid-row-gap:10px;*/
    max-width: 960px;   
    margin:2px;
    position:relative;
    padding-left: 5px;
    text-align: left;
}

#container div{
    /*background:gray;*/
 
    
}
#container div:nth-child(even){
    /*background:gray;*/

}
/*.left-text{
    grid-column:1/2;
    align-self: flex-start;
}*/

.desc-text{
    grid-column:1/6;
}

.middle-text{
    grid-column:2/4;
    
}
.right-text{
   /*grid-column:4/6;*/
   }
   .left-sm-text{
       grid-column: 1/4;    
   }
   .right-sm-text{
       grid-column:4/6;
   }
    .county-text{
       grid-column: 1/4;
       /*align-self: flex-start;*/
   }
   .state-text{
       grid-column:4/6;
   }
   .city-text{
       grid-column:6/8;
   }
   .edit-text{
       grid-column:7/7;
   }
   .middle-md-text{
       grid-column: 3/7;
   }
   .left-md-text{
       grid-column:1/3;
   }
    .text-area{
       grid-column: 1/13;
    }
    



.resume{
    font-style:italic;
    margin:0;
}
.text{
    font-weight:bold;
}
i[class*=fa-pencil]::before{
   background:transparent;
}

.clear-button{
    background: transparent;

}
.clear-button:hover{
   border:none;
 }
 i{
     background-color: transparent;
     color:goldenrod;
 }
 page-edit{
    display:grid;
    grid-template-columns: repeat(3,1fr);
/*    grid-column-gap:1px;*/
    /*grid-auto-rows:minmax(200px,auto);*/
    grid-auto-columns:auto;
    max-width: 960px;
}
page-edit > *{
    padding:0;
    margin: 0;
    text-align: left;

    
    
}
.left-ed-text{
    grid-column:1/2;
}
.right-ed-text{
    grid-column:2/3;    
}
